<div class="login">

        <label><b>Имя пользователя</b></label>
        <input class="loginfield" type="text" placeholder="Введите имя пользователя" name="username" required>

        <label><b>Пароль</b></label>
        <input class="loginfield" type="password" placeholder="Введите пароль" name="password" required>

        <button type="submit" class="loginbtn">Вход</button>

</div>
